*{
  margin:0px;
  padding:0px;
}
body {
  background: rgb(101, 125, 98);
  font-family:Verdana,serif;

}
#container {
  width:1200px;
  margin:0 auto;

}
#container::after {
  display:table;
  content:"";
  clear:both;
}
/* START HEAD */
#head {
  width:100%;
  text-align:center;
  border-bottom:2px solid #000;
  background:rgb(214, 187, 90);
  margin-top:100px;
  padding-top:50px;
  height:100px;

}
#head span {
  font-size:30px;
}
#head a {
  text-decoration:none;
  color:#000;
}
#head a:hover {
  color: rgb(101, 125, 98)
}
/*END HEAD */
/*START MAIN */
.notifications {
  background:rgb(214, 187, 90);
  border-left
}
#main {
  float:right;
  width:750px;
  display:inline;
  background:rgb(214, 187, 90);
  padding:50px;
}

#side {
  float:left;
  width:350px;
  display:inline;
}
/* START login */

.container-login {
  height:100%;
  width:100%;
  background:rgb(101, 125, 98);
  position:absolute;
}


.login-form {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-80px;
  margin-top:-80px;
  font-family:Verdana, serif;
}

.login-form h2 {
  text-align:center;

}

.login-form input{
  margin:5px;
  padding:5px;
}

.login-form input:focus {
  border:1px solid rgb(214, 187, 90);
  outline:none;
}

.login-form input[type=submit] {
  margin-left:47px;
  background:rgb(214, 187, 90);
  border:none;
  width:100px;

}
.login-form input[type=submit]:hover {
  box-shadow:2px 2px rgba(71, 59, 13, 0.51);
}

.login-form input[type=submit]:focus {
  box-shadow:none;
  outline:none;
}

.back-home {
  margin-top:29%;
  margin-left:46.2%;
}
.back-home a {
  font-size:20px;
  font-family:Verdana, serif;
  text-decoration:none;
  color:#000;
}
.back-home a:hover {
  color:rgb(214, 187, 90);
}

/* END login */

/* START view-com */

/* END view-con */
