* {
    padding:0px;
    margin:0px;


}

#head {
    width:100%;
    height:150px;
    font-size:20px;
    text-align:center;
    margin:0;
    background:rgb(0, 51, 103);
    border-bottom: 3px solid rgb(217, 150, 21);
    display:block;
}
#head h1 {
    padding:10px;
    margin:0px;
    position:relative;
    top:60px;

} /* END HEAD */

#side {
    float:left;
    width:30%;
    height:800px;
    background:rgb(0, 51, 103);

    display:inline;

}
.menu {
    padding:5px;
    font-size:24px;
    text-align:center;
}

.menu a {
    text-decoration:none;
    color:#000;
}
.menu a:hover {
    color:rgb(217, 150, 21);
    text-shadow:1px 1px rgb(226, 224, 19);
}
.menu a:active {
    color:rgb(217, 150, 21);
}
/* END side */

/*INSERT POST START */
.post-insert {
  width:1330px;
  float:right;
  background:rgb(0, 51, 103);
  border-left:2px solid rgb(217, 150, 21);
    border-bottom:2px solid rgb(217, 150, 21);

}
.post-insert h2 {
  text-align:center;
  padding:20px;
  font-size:32px;
}

.post-insert p {
  padding:5px;
  font-size:20px;
  margin-left:400px;

}
.post-insert-text  {
  margin-left:400px;
}

.post-insert-img {
  margin-left:815px;
  display:inline;

}

.post-insert-content {
  margin-left:400px;
}

.post-insert-cat {
  margin-left:400px;
}
.post-insert-cat p {
  margin-left:1px;
  padding-bottom:5px;
}
.post-insert-cat select {
  width:150px;
  font-size:24px;
}
#post-insert-button
{
  margin-left:685px;
  padding:10px;
  margin-bottom:10px;
}
/*INSERT POST END */
