*{
  margin:0px;
  padding:0px;
}
body {
  background: rgb(101, 125, 98);
  font-family:Tahoma,serif;

}
#container {
  width:1200px;
  margin:0 auto;

}
#container::after {
  display:table;
  content:"";
  clear:both;
}
/* START HEAD */
#head {
  width:100%;
  text-align:center;
  border-bottom:2px solid #000;
  background:rgb(214, 187, 90);
  margin-top:100px;
  padding-top:50px;
  height:100px;

}
#head span {
  font-size:30px;
}
#head a {
  text-decoration:none;
  color:#000;
}
#head a:hover {
  color: rgb(101, 125, 98)
}
/*END HEAD */
/*START MAIN */
.notifications {
  background:rgb(214, 187, 90);

}
#main {
  float:right;
  width:830px;
  display:inline;
  background:rgb(214, 187, 90);
  padding:10px;
    text-align:center;
}
#main table {
    width:100%;
    border-collapse:collapse;

}
#main table img {
    width:150px;
    height:150px;
}
#main table th {
    border-bottom:1px solid #000;
}

#main table tr {

}
#main table td {
    border-right:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;

}
#main table a {
    text-decoration:none;
    color:#000;
}
#main table a:hover {
    color:red;
}
.post-insert-content {
    margin-left:115px;
}
#main input[type=submit] {
    width:300px;
    height:30px;
    margin:10px;
}
#main select {
    width:300px;

}
.cat-tab {
    margin-bottom:40px;
}
#main .insert-cat-text span {
    font-size:24px;
    padding:10px;

}
#main .insert-cat-input input[type=text] {
    width:300px;

    padding:5px;
}
#main .insert-cat-input input[type=submit]{
    width:150px
}
/* END main */
.notifications a {
    color:red;
}
/* START side */
#side {
  float:left;
  width:348px;
  border-right:2px solid #000;
  background:rgb(214, 187, 90);
  font-weight:bold;
}

#side .l {
    float:left;
    margin-bottom:100px;
    margin-left:10px;
}
#side .r {
    float:right;
    margin-top:100px;
    margin-right:10px;
}

#side .l:last-child {
    margin-bottom:10px;
}
#side .l:first-child {
margin-top:10px;
margin-bottom:90px;
}

#side .menu a {
    width:100px;
    height:60px;
    padding:10px;
    background:rgba(101, 125, 98, 0.67);
    display:block;
    text-decoration:none;
    color:#000;
    text-align:center;


}
#side .odjavise a {
    padding-top:30px;
    height:35px;
}
#side .objave a {
    padding-top:30px;
}
#side a:hover {
    box-shadow:2px 2px #000;
}
#side a: {
    border:2px solid #000;
}
/* END side */
/* START login */

.container-login {
  height:100%;
  width:100%;
  background:rgb(101, 125, 98);
  position:absolute;
}


.login-form {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-80px;
  margin-top:-80px;
  font-family:Verdana, serif;
}

.login-form h2 {
  text-align:center;

}

.login-form input{
  margin:5px;
  padding:5px;
}

.login-form input:focus {
  border:1px solid rgb(214, 187, 90);
  outline:none;
}

.login-form input[type=submit] {
  margin-left:47px;
  background:rgb(214, 187, 90);
  border:none;
  width:100px;

}
.login-form input[type=submit]:hover {
  box-shadow:2px 2px rgba(71, 59, 13, 0.51);
}

.login-form input[type=submit]:focus {
  box-shadow:none;
  outline:none;
}

.back-home {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-75px;
  margin-top:70px;

}
.back-home a {
  font-size:20px;
  font-family:Verdana, serif;
  text-decoration:none;
  color:#000;
}
.back-home a:hover {
  color:rgb(214, 187, 90);
}

/* END login */
